*{
    margin: 0;
    padding:0;
    border: 0;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

body{
	display: flex;
	align-items: center;
	text-align: center;
    background-color: rgba(184, 167, 15, 0.945);

	width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}





@font-face{
	font-family: BADABB;
	src: url('BADABB.ttf');
}

.hidden{
	font-family: BADABB;
	visibility: hidden;
	position: absolute;
}

